:root {
  --color-primary:#34c94b;
  --color-black:#121212;
  --color-white:#fff;
}

*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
  height: 100%;
}

body{
  background-color: var(--color-black);
  font-family: "Poppins",sans-serif;
  color: var(--color-white);
  /* overflow: hidden; */
}

img,svg{
  display: block;
  max-width: 100%;
}
.swiper-slide{
  width:auto !important;
}
.swiper{
  margin-right: 50px !important;
}
.css-1lym95h-MuiGrid-root{
  margin-bottom: 50px;
  margin-left: -96px;
  width: 1730px !important
  ;
  height: 233px;
}